<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <connectionStrings>
    <add name="NorthwindConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True" />
  </connectionStrings>

</configuration>
