<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="seo" assembly="Web-Custom-Controls-Demo"
          namespace="Web_Custom_Controls_Demo" />
      </controls>
    </pages>
  </system.web>

</configuration>
