<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true"/>

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" timeout="10">
        <!-- List of user credentials -->
        <credentials passwordFormat="Clear">
          <user name="Peter"  password="1"/>
          <user name="Paul"   password="2"/>
          <user name="Mary"   password="3"/>
          <user name="Ruth"   password="4"/>
          <user name="Simon"  password="5"/>
          <user name="James"  password="6"/>
          <user name="Sarah"  password="7"/>
          <user name="Joseph" password="8"/>
          <user name="John"   password="9"/>
        </credentials>
      </forms>
    </authentication>

    <!-- Deny anonymous users and allow all the others -->
    <authorization>
      <deny users="?" />
    </authorization>

  </system.web>
</configuration>
