<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <handlers>
      <add verb="*" path="*.nakov"
        name="Nakov's HTTP Handler" type="NakovHttpHandler"/>
    </handlers>
  </system.webServer>

</configuration>
