<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add name="MembershipConnectionString"  providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\SiteMaps-with-Roles.mdf;Initial Catalog=SiteMapsWithRoles;Integrated Security=True" />
  </connectionStrings>

  <system.web>

    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false"/>

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Home.aspx" />
    </authentication>

<siteMap defaultProvider="secureProvider">
  <providers>
    <add name="secureProvider" type="System.Web.XmlSiteMapProvider"
        siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
  </providers>
</siteMap>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="MembershipConnectionString"
          enablePasswordRetrieval="false" enablePasswordReset="true"
          requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
          maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1"
          minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
          applicationName="/" />
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider"
          connectionStringName="MembershipConnectionString"/>
      </providers>
    </roleManager>

  </system.web>

  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="admins" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
