<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add name="CountriesDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CountriesDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" />
  </system.web>
  
</configuration>
