.panel 
{
	width: 300px;
	background: white;
	border: 1px dotted red;
	padding: 10px;
	margin: 30px;
	text-align: center;
}

#UpdateProgressDemo
{
    color: White;
    background: Red;
    margin: 5px;
    padding: 5px;
    border: 1px dotted #FFAAAA;
}