<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <connectionStrings>
    <add name="UsersConnectionString" providerName="System.Data.SqlClient"
      connectionString="Data Source=.\;Initial Catalog=aspnetdb;Integrated Security=True" />
  </connectionStrings>
  
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx"
             timeout="10"/>
    </authentication>
    
    <authorization>
      <deny users="?"/>
    </authorization>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="UsersConnectionString"
          enablePasswordRetrieval="false" enablePasswordReset="true"
          requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
          maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1"
          minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
          applicationName="/" />
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider"
          connectionStringName="UsersConnectionString"/>
      </providers>
    </roleManager>
    
  </system.web>	
  
	<location path="Register.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
