<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.web>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.5" />
  </system.web>

  <connectionStrings>
    <add name="NorthwindEntities" providerName="System.Data.EntityClient"
         connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
  </connectionStrings>

</configuration>
